* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255, 0.4);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 255, 255, 0.5);
}

:root {}

::selection {
  background: rgba(255, 123, 0, 0.7);
  color: rgb(255, 255, 255);
}

body {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  color: white;
  background-color: rgb(0, 0, 0);
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-family: sans-serif;
}

a{
  color: white;
  text-decoration: none;
  cursor: pointer;
}

li{
  list-style-type: none;
}

img {
  user-select: none;
}

/* --- header starts --- */
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7vh;
  padding: 0 5%;    
  background-color: rgba(74, 43, 27, 0.7);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}
.header:hover{
  background-color: rgba(74, 43, 27, 0.9);
}
.logo{
  height: 100%;
  display: flex; 
  align-items: center; 
}
.logo-png{
  width: 32px;
  aspect-ratio: 1/1;
  background: url(Images/coffee.png);
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  border: 0.4vh solid rgba(245, 222, 179, 0.8);
  cursor: pointer;
}
.caffeine-logo{
  margin-left: 10px;
  color: wheat;
  font-size: 20px;
  letter-spacing: 0.5px;
  cursor: pointer;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.caffeine-c{
  font-size: 25px; 
  -webkit-text-stroke: 1px wheat; 
  color: transparent;
}
.navbar a{
  margin-left: 33px;
  padding: 7px;
  color: rgb(255, 245, 227);
}
.navbar a:hover{
  background-color: rgba(120, 88, 68, 0.6);
  border-radius: 5px;
  color: wheat;
}
.header a:active{
  color: orange;
}
#check{
  display: none ;
}
.icons{
  position: absolute;
  right: 3%;
}
.humburger{
  display: none;
  width: 25px;
  height: 29px;
  padding-top: 5px;
  cursor: pointer;
}
.humburger div{
  width: 25px; 
  height: 3px;
  border-radius: 2px;
  margin-bottom: 5px;
}
.humburger1{
  background-color: rgba(245, 222, 179, 0.4);
}
.humburger2{
  background-color: rgba(245, 222, 179, 0.65); 
}
.humburger3{
  background-color: rgba(245, 222, 179, 0.9);
}
.cross{
  display: none; 
  width: 20px; 
  aspect-ratio: 1/1; 
  position: relative;
}
.cross div{
  position: absolute; 
  top: 9px;
  left: 0;
  width: 25px; 
  height: 3px; 
  background-color: rgba(245, 222, 179, 0.8);
  border-radius: 2px; 
}
.cross1{
  transform: rotateZ(45deg);
}
.cross2{
  transform: rotateZ(-45deg);
}
/* --- header ends --- */

/* --- main section starts ---*/
/* - home starts -*/
#home {
  padding-top: 14vh;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.cup {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  visibility: hidden;
  position: absolute;
}

.visible {
  visibility: visible;
}

.active {
  animation: rotate 0.8s linear 0s 1 forwards;
}

.colour-active {
  border: 2px solid white;
  box-shadow: 0 0 10px white;
}

@keyframes rotate {
  10% {
      transform: rotateZ(-30deg);
  }

  50% {
      transform: rotateZ(180deg);
  }

  90% {
      transform: rotateZ(370deg);
  }

  100% {
      transform: rotateZ(360deg);
  }
}

.right img {
  width: 25vw;
  filter: drop-shadow(15px 15px 10px #000000);
}

.left {
  width: 40vw;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  padding: 10vh;
}

.home-btn1 {
  color: white;
  text-decoration: none;
  padding: 8px;
  background-color: rgba(161, 91, 0, 0.3);
  border: 1px solid rgb(161, 91, 0);
  width: fit-content;
  font-size: 14px;
  border-radius: 5px;
}

.home-btn1:hover {
  background-color: rgb(161, 91, 0);
}

.animate-head {
  animation: head 0.4s linear 1;
}

@keyframes head {
  0% {
      transform: translateY(-100px);
  }

  80% {
      transform: translateY(50px);
  }

  100% {
      transform: translateY(0px);
  }
}

.right {
  background: url(Images/round.png);
  filter: drop-shadow(15px 15px 20px rgb(0, 0, 0));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 40vw;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
/* - home ends -*/

/* - special-menu starts - */
#special-menu {
  background-color: rgb(42, 42, 42);
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.special-menu-heading{
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  font-family: sans-serif;
}
#coveri {
  position: relative;
  display: grid;
  place-content: center;
  height: 50vh;
  overflow-x: hidden;
}

#sliders {
  width: 95vw;
  animation: animize 40s linear 1s infinite;
  display: flex;
  gap: 3vw;
}

#gredi {
  width: 95vw;
  height: calc(15vw * 4 / 3);
  position: absolute;
  background: linear-gradient(to right, rgb(42, 42, 42), rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 80%, rgb(42, 42, 42));
  height: 50vh;
}

.cards img {
  min-width: 200px;
  max-width: 15vw;
  aspect-ratio: 3/4;
}

@keyframes animize {
  100% {
      transform: translateX(-70%);
  }
}
/* - special-menu ends - */

/* - regular-menu starts - */
#regular-menu {
  background-color: rgb(65, 0, 0);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.regular-menu-heading{
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  font-family: sans-serif;
  margin: 15px 0;
}

.menu {
  background-color: rgb(75, 75, 75);
  /* width: 90vw; */
  height: 5vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
}

.menu li{
  cursor: pointer;
  border-bottom: 2px solid yellow;
  background-color: black;
  padding: 6px 7vw;
}

.menu-item {
  background: linear-gradient(to bottom right, rgb(35, 35, 35), rgb(0, 0, 0));
  width: 90vw;
  height: 90vh;
  position: relative;
}

.img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3vw;
  position: absolute;
  visibility: hidden;
}

.hii {
  visibility: visible;
}

.m img {
  width: 17vw;
  aspect-ratio: 1/1;
}
/* - regular-menu ends - */

/* - customize starts - */
#customize {
  width: 100vw;
  height: 100vh;
  padding-left: 28vw;
  /* background-color: #542a1a; */
  background: linear-gradient(#542a1a, #170c07);
  display: flex;
  align-items: center;
  position: relative;
}

.pattern2 {
  position: absolute;
  left: -50vh;
  border-radius: 50%;
  width: 100vh;
  aspect-ratio: 1/1;
  background-color: rgb(111, 61, 0);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 3vh;
}

.pattern2:hover {
  box-shadow: 0 0 20px rgb(21, 11, 0);
}

input[type='checkbox'] {
  accent-color: rgb(6, 173, 0);
}

.box {
  height: 94vh;
  aspect-ratio: 1/2;
  border-radius: 0 47vh 47vh 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2vh;
  padding: 8vh;
}

.box h3 {
  text-align: right;
  color: red;
}

.customize-slider {
  display: flex;
  align-items: center;
}

.btn {
  all: unset;
  background-color: rgba(111, 61, 0, 0.8);
  border-radius: 5vh;
  position: absolute;
  padding: 2vh 5vh 2vh 5vh;
  bottom: 10vh;
  left: 58vw;
  text-align: center;
}
.btn1{
  all: unset;
  background-color: rgba(111, 61, 0, 0.8);
  border-radius: 5vh;
  position: absolute;
  padding: 2vh 5vh 2vh 5vh;
  bottom: 10vh;
  left: 68vw;
  text-align: center;
}

#para {
  visibility: hidden;
}

.vi {
  visibility: visible;
}

.card {
  width: 16vw;
  aspect-ratio: 3/4;
  border-radius: 8vw;
  /* border: 5px solid rgba(255, 255, 255, 0.9); */
}

.add-button {
  all: unset;
  font-size: 12px;
  background-color: rgb(255, 255, 255);
  color: brown;
  font-weight: bold;
  padding: 5px 10px;
  position: absolute;
  border-radius: 5px;
  bottom: 1vw;
}

.ii {
  visibility: hidden;
  perspective: 100px;
}

.i {
  visibility: visible;
}

.card1 {
  background: url(Images/custom1.jpg);
  background-size: cover;
  background-position: center;
}

.card2 {
  background: url(Images/custom2.jpg);
  background-size: cover;
  background-position: center;
}

.card3 {
  background: url(Images/custom3.jpg);
  background-size: cover;
  background-position: center;
}

.card4 {
  background: url(Images/custom4.jpg);
  background-size: cover;
  background-position: center;
}

.card5 {
  background: url(Images/custom5.jpg);
  background-size: cover;
  background-position: center;
}

.card6 {
  background: url(Images/custom6.jpg);
  background-size: cover;
  background-position: center;
}

.card7 {
  background: url(Images/custom7.jpg);
  background-size: cover;
  background-position: center;
}

.card8 {
  background: url(Images/custom8.jpg);
  background-size: cover;
  background-position: center;
}
/* - customize ends - */

/* - offers starts - */
#offers {
  padding-top: 7vh;
  width: 100vw;
  background-color: rgb(176, 105, 48);
  position: relative;
}

.offer-card {
  position: relative;
  width: 250px;
  aspect-ratio: 3/3;
  overflow: hidden;
  border-radius: 10px;
  border: 4px solid rgba(255, 255, 255, 0.2);
}

.offer-card-front {
  position: absolute;
  width: 250px;
  aspect-ratio: 3/4;
  transition-duration: 1s;
  border-radius: 10px;
}

.offer-card:has(.offer-card-front:hover) .offer-card-back {
  transform: translateY(110px);
}

.offer-card-back {
  position: absolute;
  width: 180px;
  aspect-ratio: 4/3;
  background: linear-gradient(rgba(75, 41, 0, 0.8), rgba(178, 98, 0, 0.8));
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.4));
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  transform: translateY(calc(250px * 4 / 3));
  transition-duration: 0.7s;
  border-radius: 10px;
}

.cir {
  position: absolute;
  z-index: 5;
  border-radius: 74% 26% 60% 40% / 25% 79% 21% 75%;
  aspect-ratio: 1/1;
  background-color: rgba(93, 45, 10, 0.3);
}

.cir1 {
  top: 50vh;
  left: 30vw;
  height: 60vh;
  animation: ci1 30s linear 0s infinite;
}

@keyframes ci1 {
  50% {
      transform: rotateZ(30deg) translateY(-20vh) translateX(20vh);
  }

  75% {
      transform: rotateZ(60deg) translateY(-10vh) translateX(-10vh);
  }
}

.cir2 {
  top: 0vh;
  left: 0vw;
  height: 80vh;
  animation: ci2 40s linear 0s infinite;
}

@keyframes ci2 {
  50% {
      transform: rotateZ(20deg) translateY(20vh) translateX(-20vh);
  }

  75% {
      transform: rotateZ(30deg) translateY(10vh) translateX(10vh);
  }
}

.cir3 {
  top: 0vh;
  right: 0vw;
  height: 60vh;
  animation: ci3 30s linear 0s infinite;
}

@keyframes ci3 {
  50% {
      transform: rotateZ(45deg) translateY(-30vh) translateX(-20vh);
  }

  75% {
      transform: rotateZ(30deg) translateY(10vh) translateX(20vh);
  }
}
/* - offers ends - */
/* --- main section ends ---*/

/* --- footer section starts ---*/
#footer {
  width: 100vw;
  height: 70vh;
  background-color: rgb(176, 105, 48);
  position: relative;
  overflow: hidden;
}

.foot {
  height: 100vh;
  width: 100vw;
  border-radius: 50% 50% 0% 0% / 25% 25% 75% 75%;
  position: absolute;
}

.foot1 {
  background-color: rgba(93, 45, 10, 0.3);
  bottom: -40vh;
}

.foot2 {
  background-color: rgba(93, 45, 10, 0.6);
  bottom: -45vh;
}

.foot3 {
  background-color: rgb(93, 44, 10, 1);
  bottom: -50vh;
}

#email-input {
  all: unset;
  border-bottom: 1px solid white;
  padding: 4px;
}

#email-input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

#submit-btn {
  all: unset;
  border-radius: 15px;
  text-align: center;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 4px 0px;
  color: rgb(99, 54, 0);
}
/* --- footer section ends ---*/

/* --- break points --- */
@media (max-width: 1000px) {
  ::-webkit-scrollbar {
      width: 2px;
  }

  /* --- header starts --- */
  .header {
      padding: 0 3%;
  }

  .logo-png {
      width: 27px;
  }

  .navbar a {
      margin-left: 23px;
      font-size: 13px;
  }

  /* --- header starts --- */

}

@media (max-width: 610px) {

  /* --- header starts --- */
  .logo-png {
      width: 25px;
      border-width: 2px;
  }

  .caffeine-logo {
      margin-left: 5px;
      font-size: 17px;
  }

  .caffeine-c {
      font-size: 20px;
  }

  #check:checked~.navbar {
      height: fit-content;
  }

  .navbar {
      overflow: hidden;
      position: absolute;
      top: 7vh;
      left: 0;
      height: 0;
      width: 100%;
      background: linear-gradient(rgba(74, 43, 27, 0.7), rgba(46, 27, 17, 0.7));
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
      border-bottom: 1.5px solid rgba(255, 255, 255, 0.001);
      transition: .3s ease;
  }

  .navbar:hover {
      background-color: rgba(74, 43, 27, 0.9);
  }

  .navbar a:hover {
      background-color: rgba(97, 57, 36, 0.5);
  }

  #check:checked~.navbar a {
      transform: translateY(0px);
      transition-delay: calc(.10s * var(--i));
      opacity: 1;
  }

  .navbar a {
      margin: 0;
      display: block;
      text-align: center;
      transform: translateY(-100%);
      transition: transform .3s ease, opacity .3s ease;
      opacity: 0;
      font-size: 0.85rem;
  }

  #check:checked~.icons .humburger {
      display: none;
  }

  #check:checked~.icons .cross {
      display: inline-block;
  }

  .humburger {
      display: inline-block;
  }

  /* --- header ends --- */
}

.anim {
  position: absolute;
  background-color: #dccfbd;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  animation: anim1 2.5s ease-in-out 0.0s 1;
}

@keyframes anim1 {
  100% {
      visibility: hidden;
  }
}

.battery {
  width: 4vw;
  height: 2.4vh;
  background-color: #6b4e3c;
}

.cover {
  position: absolute;
  width: 4vw;
  height: 2.4vh;
  background-color: white;
}

.b {
  position: absolute;
  width: 4vw;
  height: 2.4vh;
  overflow: hidden;
}

.b1 {
  top: 267px;
  left: 694px;
}

.b2 {
  top: 288px;
  left: 694px;
}

.b3 {
  top: 309px;
  left: 694px;
}

.b4 {
  top: 330px;
  left: 694px;
}

.b5 {
  top: 351px;
  left: 694px;
}

.cover1 {
  animation: a1 0.1s linear 2.4s 1 forwards;
}

.cover2 {
  animation: a2 0.1s linear 2.3s 1 forwards;
}

.cover3 {
  animation: a3 0.1s linear 2.2s 1 forwards;
}

.cover4 {
  animation: a4 0.1s linear 2.1s 1 forwards;
}

.cover5 {
  animation: a5 0.1s linear 2.0s 1 forwards;
}

@keyframes a5 {
  100% {
      transform: translateY(-2.4vh);
  }
}

@keyframes a4 {
  100% {
      transform: translateY(-2.4vh);
  }
}

@keyframes a3 {
  100% {
      transform: translateY(-2.4vh);
  }
}

@keyframes a2 {
  100% {
      transform: translateY(-2.4vh);
  }
}

@keyframes a1 {
  100% {
      transform: translateY(-2.4vh);
  }
}